.Main{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: bisque; */
    color: black;
}





.Manual{
    width: 100%;
    height: 50px;
    background-color: gray;
}

.Container{
    display: flex; 
    margin: 0 auto; 
    position: relative;
    width: 100%;
    height: 100%;
    background-color: red;  
  
}

.Left{
   flex:1;
    height: 100%;
    background-color: lightcoral;
}
.Catalog{
    position: relative;
    flex:17;
    height: 100%;
    background-color: green;
    
    
}
.Centre{
    position: relative; 
    display: inline-block; 
   background-color: red;
   /* left:50%;
   transform: translateX(-50%);  */


}
.Right{
    flex:1;
    height: 100%;
    background-color: lightcoral;
}

