

.Lider_card{
    background-color: white;  
   width: 180px;
   height: 300px;
   border-radius: 10px;
   border: 1px solid #DCDCDC;
   /* padding: 10px; */
   /* position: relative; */
   transition: .1s;
   margin: 10px 10px 10px 10px;
}

.Lider_card:hover{
   transform: scale(1.05) /*translateY(10px)*/;
   transition: .2s;
   border: 2px solid #3C475B;  
}

.Lider_card:hover .Back_pic{
   background-color:#78C47A; 
   /* background-color: #3C475B; */
  
   border-radius:20px;
   opacity: 0.8;
   top:0;
   /* transform: scale(1.1); */
   transition: 1s;
   -webkit-animation:spin 20s linear infinite;
   -moz-animation:spin 20s linear infinite;
   animation:spin 20s linear infinite;
}

.Lider_card_click{
   /* background-color: red;   */
  width: 80%;
  height: 220px;
  border-radius: 10px;
  /* border: 1px solid #DCDCDC; */
  /* padding: 10px; */
  position: absolute;
  top:0;
  right: 20px;
  transition: .1s;
}

.Lider_pic{
    position: relative; 
    display: flex;
    align-items:center;
    justify-content: center;
   width: 100%;
    height: 65%; 
   /* background-color: red; */
   /* background-color: green; */
   margin:0;
   padding: 10px;
   /*text-align: -webkit-center; */
   overflow:hidden;
   /* border-radius:10px; */
}


.Lider_pic > img{
   height: auto;
 max-height: 100%;
 /* еще больше контроля с max-width */
 max-width: 100%; 
}


.Akciya_container{
   position: absolute;
   top:6px;
   right: -70px;
   width:200px;
   height: 50px;
   /* margin: 5px; */
   border-radius: 6px;
   display: flex;
   justify-content: center;
   align-items: center;
     transform: rotate(45deg); 
   /* background-color: green; */
}



.Akciya_span{
   color: white;
   font-size:  0.9rem;
   border-radius: 6px;
  
    padding-top: 8px ;
   padding-bottom: 8px ;
   padding-right: 40px;
   padding-left: 40px; 
   /* transform: rotate(45deg); */
   /* opacity: 0.6; */
   background-color: rgb(255, 66, 66);
}
.Pic_akcia{
   position: absolute; 
    left: -35px;
    top: 100px;
    height: 80px;
   /* transform: rotate(-45deg);  */
  
}

.Back_pic{
   position: absolute;
   top:70%;
   left: 0;
   width: 100%;
   height: 100%;
   /* background-color:#78C47A;  */
   /* background-color: #3C475B; */
   opacity: 0.2;
   border-radius:10px;
   transform: rotate(158deg);
   z-index: -1; 

   
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.Lider_text{
   width:100%;
   height: 100%;
   color:black;
   padding: 5px;
   text-align: left;
   border-top: 1px solid #DCDCDC;
}

.Lider_text >p{
    color:#3C475B;
    font-size: 0.72rem;
}

.Brand{
   position:absolute;
   height: 20%;
   width: 40%;
    /* background-color: red;  */
   bottom: 0px;
   right:5px;
   display: flex;
   align-items:center;
   justify-content: center;
   
}

.Brand >img{
   height: auto;
   max-height: 100%;
 /* еще больше контроля с max-width */
 max-width: 100%; 
}
.Model{
   color: #3C475B;
   font-size: 0.8rem;
   margin-bottom: 2px;
   font-weight: bold;
}

.Stock_true{
   margin-top: 3px;
   padding-top: 3px;
   padding-bottom: 3px; 
   
}

.Stock_span_true{
   color:white;
   background-color:#78C47A;
   padding: 3px;
   border-radius:7px;
   font-weight: bold;
   padding-left: 5px;
   padding-right: 5px;
}

.Stock_false{
   margin-top: 3px;
   padding-top: 3px;
   padding-bottom: 3px; 
}

.Stock_span_false{
   color:white;
   background-color:#d3a44c;
   padding: 3px; 
   border-radius:7px;
   font-weight: bold;
   padding-left: 5px;
   padding-right: 5px;
}

.Stock_soon{
   margin-top: 3px;
   padding-top: 3px;
   padding-bottom: 3px; 
   
}

.Stock_span_soon{
   color:white;
   background-color:orangered;
   padding: 3px;
   border-radius:7px;
   font-weight: bold;
   padding-left: 5px;
   padding-right: 5px;
}

.Coast{
   /* margin-top: 3px; */
   font-size: 1rem;
   color: #3C475B;
   margin-top:2px;
}
.Old_coast{
   /* font-size: 1rem; */
   text-decoration: line-through;
   color: #3C475B;
   margin-top:2px;
}

.New_coast{
   color: red;
   font-size: 1.1rem;
}



@media (max-width: 1100px){
   .Lider_card{
      /* height: 270px; */
      margin: 10px 5px 10px 5px;
   }
}

@media (max-width: 411px){
   .Lider_card{
      /* height: 270px; */
      margin: 10px 2px 10px 2px;
   }
   .Lider_card:hover{
      transform: scale(1.02) /*translateY(10px)*/;
   }
   /* .Lider_card{
     height: 320px;
   } */
   .Lider_pic{
     
      height: 60%; 
     
  }

  .Coast{
   /* margin-top: 3px; */
   font-size: 0.8rem;
   color: #3C475B;
   margin-top:2px;
}
.Old_coast{
   /* font-size: 1rem; */
   text-decoration: line-through;
   color: #3C475B;
   margin-top:1.5px;
   font-size: 0.6rem;
}

.New_coast{
   color: red;
   font-size: 0.8rem;
}
.Model{
   color: #3C475B;
   font-size: 0.68rem;
   margin-bottom: 2px;
   font-weight: bold;
}

.Lider_text >p{
   color:#3C475B;
   font-size: 0.68rem;
}

}
