.upHeader {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #ECEFF0; 
    flex-wrap: wrap;
    align-items: center;
    /* position: fixed; */
    /* z-index: 9999;
    top:0;
    left:0; */
}
.upHeader_container{
    display: flex;
    margin: 0 auto;
    width: 80%;
    max-width: 80%;
    height: 50px;
    align-items: center;
    /* background-color:green; */
}
.upHeader_container_Mail{
    flex: 1;
   text-align: -webkit-center;
    
}
 .upHeader_container_Phone{   
     display: flex;
      justify-content: space-around;
    
     flex-direction:column;
     flex:1;
   text-align: -webkit-center;  
    /* background-color: red; */
} 

.upHeader_container_Raspisanie{
    display: flex;
    justify-content: space-around;
  
   flex-direction:column;
   flex:1;
 text-align: -webkit-center;  
}
.upHeader_container_Info{  
    flex:1;
   text-align: -webkit-center; 
}
.span_info{
    color: #3C475B;
    /* position: absolute;
    transform: translateY(-60%); */
    font-size: 0.8rem;
    /* top: 50%; */
   
}