.Modal_back{
    position: fixed;
    width:100%;
    height:100%;
    top: 0;
    background-color: #3C475B;
    opacity: 0.6;
    z-index: 9999;
}
.Modal{
    position: fixed;
    width: 90%;
    height: 80%;
    border: 1px solid  #DCDCDC;
    border-radius: 8px;
    bottom: 10%;
    transform: translateY(-50%); 
    left: 50%;
    transform: translateX(-50%);
    background-color: white; 
    color:black;
    font-size: 0.8rem;
    padding: 10px;
    
    z-index: 9999;
    /* display: flex; */
}
.Exit_container{
    position: relative;
    display: flex;
    width: 100%;
    height: 8%;
    min-height: 50px;
    border-bottom: 1px solid #DCDCDC;
    /* background-color:green; */
}



.Model{
    flex:2;
    
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    bottom:0;
    color:  #3C475B;
    font-weight: bold;
    font-size: 1.6rem;
    width: 40%;
    /* background-color:red;  */
  }

  .Model>p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #3C475B;
}

  .Brand_pic{

      flex:2;
      /* margin-bottom: 10px; */
       /* background-color:salmon;   */
  }
  .Brand_pic >img{
      position: absolute;
    /* height: 80%; */
    height:  60%;
    top: 50%;
    transform: translateY(-50%);
    
}
  .Links{
      flex:2;
      

  }
.exit{
    flex:1;
    /* position: absolute; */
    padding:10px; 
   padding-top: 0.6rem;
   margin-bottom: 10px;
    background-color: #3C475B;
    right:5px;
    top:5px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #3C475B;
    color:white;
    cursor: pointer;
    font-size: 1rem;
   
}
.Modal_container{
    position: relative;
    display: flex;
    width: 100%;
    height: 92%;
     /* background-color:yellow;  */
}

.Galery{
    position: relative;  
    flex:3;
    height: 100%;
    /* min-width: 400px; */
     /* background-color: burlywood;     */
    
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}

.Swiper_cont{
    position: absolute; 
    left:0;
    right:0;
    top:0;
    bottom:0; 
    /* background-color: green;   */
    
} 



.Container_pic{
    position: absolute; 
    left:0;
    right:0;
    top:0;
    bottom:0; 
     /* background-color: blue;    */
     padding-top:10px;  
    /* text-align: -moz-center;   */
    
}

.Container_pic > img{
    position: absolute;
    max-width:100%;height:auto; max-height: 80%;
    /* background-color:red; */
    left: 50%;
    transform: translateX(-50%);
    
    /* text-align: -moz-center;  */
 }






.Description{
    /* position: relative;  */
    /* display: flex; */
    flex:2;
    float: left;
    width: 40%;
    height: 100%;
    padding: 10px;
    /* background-color:yellow;     */
    
}




  .Type{
    color:  #3C475B;;
    font-size: 0.9rem;
    padding-top: 5px;
    padding-bottom: 5px;
    
  }

.Modal >p {
    color: #3C475B;
    font-size: 0.8rem;
}


.exit:hover{
    background-color: white;
    color: #3C475B;
}





.Stroka{
    width: 100%;
    border-bottom: 1px solid rgba(80, 80, 80, 0.2);
    /* background-color:blue;  */
    /* border: 1px black solid; */
    display: flex;
}
.tag{
    flex:auto;
    color: #3C475B;
    font-weight: bold;
    
    /* background-color: aquamarine;  */
    
}

.Centre{
    flex:auto;
    
    color:#3C475B;
    white-space: inherit; /* Отменяем перенос текста */
    overflow: hidden; 
    /* max-width: 100px; */
    /* background-color: red;  */
}
.info{
    flex:4;
    color: #3C475B;
    text-align: right;
    /* background-color: blue;  */
    
}

@media (max-width: 1100px){
    /* .Modal{
        width:100%;
        height: 90%;
        bottom: 5%;
        
    }  */
   
}



@media (max-width: 800px){
    .Modal{
        width:100%;
        height: 100%;
        top:0;
        /* bottom: 20%;  */
        /* overflow: ; */
    }
    .Modal_container{
     flex-direction: column;
     columns: 1;
    }

    .Galery{
       min-height: 200px;
    }

    .Description{
        overflow: auto;
       width: 100%;
    }
    
    .exit{
        padding-top: 0.8rem;
    }
    
     
} 