.Main{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: cornflowerblue; */
    color: black;
}


.Container{
    max-width: 65rem;
    padding: 0 2rem;
    background-color:white;
    height: 3rem;
    display: flex;
    margin: 0 auto;
}

.Logo{
   /* background-color: blue; */
   flex:1;
}

.Logo img{
   height:  3rem
}

.Nav_btn{
    /* background-color: green; */
    flex: 3;
    display: flex;
}

.Nav_Links{
    flex: 6;
    /* background-color: chartreuse; */
}

.Nav_Links >ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Links{
    position: relative;
}

.Links >a{
    line-height: 3rem; 
    color: black;
    padding: 12px;
    margin-left: 7px;
    /* letter-spacing: 1px; */
    font-size: 0.95rem;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    transition: .3s;
    /* background-color:red; */
    top: 50%;
    border-radius: 3px;
}

.Links >a:hover{
    /* transform: scale(1.1); */
    cursor: pointer;
    color:white;
    background-color: #3C475B;
}

.Log_Sign{
    flex: 1;
    /* background-color: blueviolet; */
}

.Dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 13rem;
    /* background-color: white; */
    transform: translateY(5px);
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    
}

.Dropdown ul{
    position: relative;
}


/* .Dropdown_Links:not(:nth-last-child(1)){
    border-bottom: 1px solid #efefef ;
    
} */

.Dropdown_Links >a{ 
    display: flex;
    background-color: #3C475B;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
 /*  округлость кнопок и расстояние между ними */
    border-radius: 3px;
    margin-top: 1px;
}

.Dropdown_Links:hover >a{
    background-color: white;
    color: #3C475B;
    border: solid 1px #3C475B; 
}

.Dropdown_Links{
    position: relative;
}

.Dropdown.Second{
    position: absolute;
    width: 10rem;
    top: 0;
    left: 100%;
    padding-left: 0rem;
}

.Links:hover > .Dropdown, 
.Dropdown_Links:hover > .Dropdown{
    transform: translate(0,0);
    opacity: 1;
    pointer-events: auto;
}