.Main{
    
    width: 100%;
    min-height: 120px;
    height: auto;
    background-color: #3C475B; 
    /* display:inline-block;    */
      position:relative;
      margin-top:10px;
}

.Text{
    font-size: 0.8rem;
    /* display:inline-block; */
    position: absolute;
    top: 45%;   
    left:0px;
    color: white;
}