.Main {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ECEFF0; 
}
.Container{
    display: flex;
    margin: 0 auto;
    width: 80%;
    max-width: 80%;
}
.Mail{
    flex: 1;
    text-align: -webkit-center;
}
 .Phone{   
     flex:1;
    text-align: -webkit-center; 
} 
.Info{  
    flex:1;
    text-align: -webkit-center; 
}
.span_info{
    color: black;
    position: absolute;
    transform: translateY(-60%);
    font-size: 0.8rem;
    top: 50%;
}