.Main {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ECEFF0; 
    flex-wrap: wrap;
}
.Container_kol_tovarov{
    background-color:#d0d5d6; 
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 0.8rem;
    color:#3C475B;
}
.Container{
    display: flex;
    margin: 0 auto;
    width: 80%;
    max-width: 80%;
    height: 50px;
    align-items: center;
    /* background-color:green; */
}
.Mail{
    flex: 1;
    text-align: -moz-center;
    
}
 .Phone{   
     display: flex;
      justify-content: space-around;
    
     flex-direction:column;
     flex:1;
    text-align: -moz-center;  
    /* background-color: red; */
} 

.Raspisanie{
    display: flex;
    justify-content: space-around;
  
   flex-direction:column;
   flex:1;
  text-align: -moz-center;  
}
.Info{  
    flex:1;
    text-align: -moz-center; 
}
.span_info{
    color: #3C475B;
    /* position: absolute;
    transform: translateY(-60%); */
    font-size: 0.8rem;
    /* top: 50%; */
   
}