.Main{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: green; */
    color: black; 
}
.Logo {
    float: left;
    min-width: 320px;
    width: 30%;
    height: 100%;
    /* background-color: cadetblue;  */
    color: black;
}

.LogoClass{
    margin-left: 10px;
    position: relative;
    height: 90%;
    /* background-color: chocolate;  */
    transform: translateY(-50%);
    top: 50%;   
}
.Menu_top {
    height: 100%;
    /* background-color: red; */
}


