*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.Header{
    position: relative;
    width: 100%;
    height: 45px; 
    /* background-color: orangered;  */
}

.Navbar{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: white;
    
    z-index: 9999;
}

.slider{
    width: 100%;
    height: 400px;
    position: relative;
}
.Fast_link{
    width:100%;
    height:270px;
   
    color: black;
}

.Lider_main{
    /* position: absolute; */
    width: 100%;
    height: 2rem;
      /* background-color: cornflowerblue;     */
  
    margin-top:10px;
 
}
.Lider_text{
    font-weight: bold;
    color:  #3C475B;
    text-align: -webkit-center;
    font-size: 1.3rem;
}
.Content{
    position: relative;
    width: 100%;
    height: 500px;
    /* background-color: cornflowerblue; */
    /* z-index: -1; */
}


@media (max-width: 920px){
    .Header{
        display: none;
    }
}