.Main_div{
    width: 100px;
    height: 100px;
    background-color: red;
}

.IMG_SLIDE{
    width: auto;
    height: 60%;
    left: 5%; 
    position: absolute;
    /* transform: translateX(-50%); */
    top: 50%;
    transform: translateY(-50%);
}
.New{
    left: 5%; 
    position: absolute;
    top: 25%;
    
    transform: rotate(-15deg);
}
.New_span{
    color: white;
    font-size: 1rem;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}
.Slider_info_block_alpha{
    box-sizing: border-box;
    position: absolute;
    min-width: 450px;
    width: 60%;
    height: 90%;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    background-color: dimgray;   
    opacity: .2;
    border-radius: 10px;
    padding: 20px; 
    transform: rotate(-45deg);
}

 .Slider_info_block{
    
    box-sizing: border-box;
    position: absolute;
    min-width: 450px;
    width: 60%;
    height: 90%;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    color:black; 
    border-radius: 10px;
    /* background-color: bisque; */
    padding: 20px; 
} 

.Text_information{
    position: relative;
    /* background-color: red; */
    top: 50%;
    transform: translateY(-50%);
   
}

.Slider_text p {
    color:black;
}

.Slider_title{
    margin-bottom: 10px;
    color: #3C475B;
}
.Slider_p{
    color: #3C475B;
}

.Slider_coast{
    margin-top: 30px;
    color: #3C475B;
}
.Button_link{
    position: absolute;
    background-color: #3C475B ;
    padding: 10px;
    border-radius: 8px;
    bottom: 3%;
    cursor: pointer;    
    opacity: 0.5;
}

.Button_link:hover{
    position: absolute;
    background-color: #3C475B ;
    padding: 10px;
    border-radius: 8px;
    bottom: 3%;
    opacity: 1;

}

