


   .Main{
    width: 100%;
    height: 100%;
    
      /* background-color:indianred; */
   }

   .Swiper_cont{
       height: 100%;
       width: 100%;
       
       /* background-color:green; */
   }

   .ImgComp:hover{
     transform: scale(1.1);
   }
   